@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@font-face {
    font-family: 'Sixtyfour Convergence';
    src: url('fonts/sixtyfour-convergence.ttf') format('truetype');
}
.body{
    margin: 0;
    font-family: 'Playfair Display', sans-serif;
    background-color: #010001;
    color: #fff;
}
.container-fuild{
    height: 100vh;
    overflow-x: hidden;
    perspective: 10px;
}
.banner1{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform-style: preserve-3d;
}
.bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(image/subaru-and-beatrice-smoking-together-rezero-moewalls-com.mp4);
    background-size: cover;
    background-position: center;
    transform: translateZ(-10px) scale(1.);
    z-index: 1;
}
.content1{
    font-family: 'Sixtyfour Convergence', sans-serif;
    font-size: xxx-large;
    transition: 1s;
    opacity: 0 no-repeat;
    transform: translateZ(3px)
}
header{
    position: absolute;
    top: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1200px;
    max-width: 100%;
    padding: 40px 0;
}
header .logo{
    font-size: xx-large;
}
header .signin{
    display: flex;
    justify-content: end;
    align-items: center;
}
header button{
    background-color: #010001;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: end;
}
nav ul li{
    padding: 10px;
}
.des{
    width: 70%;
    text-align: center;
    margin: 100px auto;
    transition: 1s;
    transform: translateY(30px);
    opacity: 0;
}
.library.active .item{
    opacity: 1;
}
.des.active{
    opacity: 1;
    transform: translateY(0px);
}
.fade-in {
    opacity: 0; /* Mulai tidak terlihat */
    transform: translateY(50px); /* Geser ke bawah sedikit */
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.active {
    opacity: 1; /* Terlihat */
    transform: translateY(0); /* Kembali ke posisi awal */
}
